.m-share-search {
    display: flex;
    .u-publish {
        .mr(10px);
    }
}
.m-share-tabs {
    .pt(10px);

    .u-tabs {
        .pt(10px);
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #e4e7ed;
    }
    .u-tab-item {
        display: flex;
        align-items: center;
        .pr;
        .pointer;
        .fz(18px,40px);
        margin: 0 20px;
        border-bottom: 2px solid transparent;
        .bold;
        &.active:after {
            content: "";
            .pa;
            .lb(0,-4px);
            .size(100%,2px);
            background-color: #409eff;
        }
        &.active,
        &:hover {
            .u-tabs-span {
                color: #409eff;
            }
        }
        img{
            .r(2px);
        }
    }
    .u-marks {
        .pt(20px);
        display: flex;
        justify-content: center;
        align-items: center;

        .u-star {
            margin-right: 20px;
        }
    }
}
.m-share-list {
    .mt(20px);
    .mr(-15px);
    display: flex;
    flex-wrap: wrap;
}

.m-share-item {
    .pr;
    .mr(20px);
    .mb(20px);
    .w(190px);
    overflow: hidden;

    .u-img {
        .db;
        .pr;
        .size(180px);
        padding: 4px;
        background-color: #f5f8fa;
        border: 1px dashed #e6f0fb;
        transition: all 0.2s ease-in-out;
        .u-pic {
            .full;
        }
        &:hover {
            filter: saturate(120%) brightness(110%);
            transform: scale(1.06);
            border-color: transparent;
        }
    }

    .u-author-box {
        display: flex;
        align-items: center;
        flex: 1;
        overflow: hidden;
    }

    .u-author {
        .fz(12px,2);
        color: #aaa;
        cursor: pointer;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
            color: #409eff;
        }
    }

    .u-avatar {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5px;
    }

    .u-price {
        .fz(12px,2);
        color: #409eff;
        .ml(5px);

        &::before {
            content: "价格：";
            .fz(12px,2);
            color: #aaa;
        }
    }

    .u-star-mark {
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        transform: rotate(45deg) scale(.8);
        position: absolute;
        right: -20px;
        top: 0;
        padding: 0 15px 0 30px;
        font-style: normal;
        background-color: #fc3c3c;
    }

    .clearfix;
    .u-item {
        .fl;
        .mr(15px);
        .mb(15px);
        .db;
        .pr;
    }
    .u-op {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        padding: 0 5px 0 0;

        i {
            .pointer;
            font-style: normal;
            color: #eee;
            .ml(1px);
            transition: 0.1s ease-in-out;
            padding: 2px;

            &:hover,
            &.on {
                color: #ff76ba;
            }
        }
    }
    .u-readOnly {
        i {
            cursor: default;
        }
    }
}

.m-archive-null {
    .mt(20px);
}

.u-tabs-span {
    display: flex;
    align-items: center;
}
.u-icon-img {
    .size(24px);
    .mr(6px);
}
.m-archive-more {
    .mb(10px);
    .w(100%);
}

.m-archive-pages {
    overflow-x: auto;
}

@media screen and (max-width: @phone) {
    .m-share-search .u-publish {
        .none;
    }
    .m-share-tabs .u-tab-item {
        margin: 0;
        width: 20%;
        justify-content: center;
        .lh(30px);
        .u-icon-img {
            .size(18px);
        }
        .u-tabs-span {
            .fz(12px);
        }
    }

    .m-share-tabs .u-marks {
        .pt(10px);
        .el-radio-button__inner {
            .fz(12px);
            padding: 5px 12px !important;
        }
    }
    .m-share-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .m-share-item {
            width: 48%;
            margin-right: 0;
            .u-face .u-img {
                width: 100%;
            }
        }
    }
    .v-share-list .el-icon-arrow-down {
        display: none !important;
    }
}

