.m-adventure-navigation {
    .pr;
    .mb(10px);
    display: flex;
    justify-content: space-between;
}

.m-adventure-title {
    .x;
}
.v-adventure-single .m-adventure-title{
    height: auto;
}
.m-adventure-task {
    .pb(30px);
    .u-carousel {
        background-color: #24292e;

        // .h(364px);
        padding: 20px 0;
        .el-carousel__container {
            .h(364px);
        }
        .el-carousel__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        // .el-carousel__mask {
        //     background: none;
        // }
        .el-carousel__item:nth-child(2n) {
            background-color: #24292e;
            border: 1px solid #99a9bf;
            .r(3px);
        }

        .el-carousel__item:nth-child(2n + 1) {
            background-color: #24292e;
            border: 1px solid #d3dce6;
            .r(3px);
        }
    }
}

