.m-adventure-navigation {
    .pr;
    .mb(10px);
    display: flex;
    justify-content: space-between;
}

.m-adventure-title {
    .x;
}

.m-adventure-task {
    .pb(30px);
    .u-carousel {
        background-color: #24292e;

        // .h(364px);
        padding: 20px 0;
        .el-carousel__container {
            .h(364px);
        }
        .el-carousel__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        // .el-carousel__mask {
        //     background: none;
        // }
        .el-carousel__item:nth-child(2n) {
            background-color: #24292e;
            border: 1px solid #99a9bf;
            .r(3px);
        }

        .el-carousel__item:nth-child(2n + 1) {
            background-color: #24292e;
            border: 1px solid #d3dce6;
            .r(3px);
        }
    }
}
.m-serendipity {
    .r(5px);
    .mb(15px);
    .lh(30px);
    background-color: #fafbfc;
    border: 1px solid #eeeeee;
    .u-title {
        color: #6c645c;
        padding: 10px 15px;
        background-color: #f5f7fa;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        align-items: center;
        .u-label {
            .fz(14px);
            .mr(14px);
            display: flex;
            align-items: center;
            i {
                .fz(20px);
                .mr(4px);
            }
        }
    }

    .u-list li {
        list-style: none;
        display: flex;
        .color(#6e7379);
        .fz(14px,40px);
        border-bottom: 1px solid #eee;
        span {
            .mr(30px);
            &:last-child {
                .mr(0);
            }
        }

        .u-server {
            .w(140px);
        }
        .u-name {
            .w(120px);
        }
        .u-time,
        .u-date {
            .w(100px);
        }

        &.u-header {
            border-bottom: 2px solid #e3e3e3;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}
