.m-header {
    h2 {
        .fz(32px,1.5);
        .pb(10px);
        font-weight: 300;
        margin: 0;
        letter-spacing: 0.5px;
    }
    .el-divider__text {
        .color(#888);
        font-weight: 300;
    }
    a {
        &:hover {
            border-bottom: 1px solid #0366d6;
        }
    }
    .u-info {
        .flex;
        .fz(12px);
        height: 20px;
        align-items: center;
    }
    .u-info-margin {
        .flex;
        .mr(15px);
        align-items: center;
        i {
            .fz(16px);
            .mr(5px);
            &.u-label-client {
                .fz(12px,20px);
            }
        }
    }
    .u-client {
        font-style: normal;
        font-size: 12px;
        padding: 0 5px;
        border-radius: 3px;
        border: 1px solid #0eb7ce;
        color: #0eb7ce;
        &.std {
            border: 1px solid #f0b400;
            color: #f0b400;
        }
    }
    .u-label-client {
        margin-right: 5px;
        color: #666;
        background-color: #eee;
        padding: 0 5px;
        border-radius: 2px;
        font-style: normal;
    }
}

.m-single-data {
    .pb(20px);
}

.m-single-box {
    padding: 0;
}
.m-single-pics {
    .r(3px);
    padding: 20px;
    background: #24292e;
}
.m-single-header {
    .pt(0);
}
.u-single-author {
    .db;
    .x;
    padding: 20px;
}

.m-face-pic {
    .h(100%);
    display: flex;
    align-items: center;
    .u-pic {
        .full;
        .auto(x);
        .db;
    }
}

.m-navigation {
    .mb(20px);
}
