.m-single-data {
    .pb(20px);
}

.m-single-box {
    padding: 0;
}
.m-single-pics {
    .r(3px);
    padding: 20px;
    background: #24292e;
}
.m-single-header {
    .pt(0);
}
.u-single-author {
    .db;
    .x;
    padding: 20px;
}

.m-face-pic {
    .h(100%);
    display: flex;
    align-items: center;
    .u-pic {
        .w(100%);
        .auto(x);
        .db;
    }
}

.m-navigation {
    .mb(20px);
}
