
.m-cooking-side{
    width: 100%;
    max-width: 350px;
    .c-cooking-search{
        .c-cooking-input{

        }
    }
    .c-cooking-column{
        .c-cooking-menu-item{
            display: flex;
            justify-content: space-between;
            .c-cooking-menu-action{

            }
        }
    }
}