.m-nav {
    padding: 0 10px;
    .u-title {
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        margin: 0;
        .pr;

        .u-more {
            .pa;
            .rb(5px,10px);
            font-weight: normal;
            .fz(12px);
            &:hover {
                box-shadow: 0 1px 0 @color-link;
            }
        }
    }
}
.c-sidebar-right-msg {
    margin: 5px 0 10px 0;
}

.el-menu {
    border: none;
    background: none;

    .el-submenu__title {
        .lh(40px);
        .h(40px);
        padding-left: 15px !important;
        color: #aaa;
        .bold;
        .fz(12px);
    }
    .el-menu-item-group__title {
        .none;
    }
}
.el-submenu .el-menu-item {
    padding-left:30px !important;

    a,span{
        .db;
        .fz(13px);
    }

    a,
    i {
        color: @color;
    }

    &.is-active {
        .bold;
        a,
        i {
            color: @color-link;
        }
    }
}
