.c-sidebar-right-msg {
    margin: 5px 0 10px 0;
}

.el-menu {
    border: none !important;
    background: none !important;

    .el-submenu__title {
        .r(4px);
        .lh(20px);
        .h(20px);
        padding-left: 15px !important;
        color: #aaa;
        .bold;
        .fz(12px);
        padding-top:10px; 
        padding-bottom:10px; 
        box-sizing: content-box;
    }
    .el-menu-item-group__title {
        .none;
    }
}
.el-submenu .el-menu-item {
    padding-left: 30px !important;
    // padding-left: 10px !important;
    .r(4px);
    .lh(46px);
    .h(46px);

    a{
        .db;
        .fz(13px);
    }

    a,
    i {
        color: @color;
    }

    img,i{
        // .size(24px);
        // .y(top);
        .mr(5px);
    }

    &.is-active {
        .bold;
        a,
        i {
            color: @color-link;
        }
    }

    .disabled {
        cursor: default;

        color: #999;
        * {
            color: #999;
        }
    }
}
