.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flexNormal {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.m-furniture {
	padding: 20px;
}
.m-furniture-header {
	.mb(20px);
	.u-title {
		.mb(30px);
		.x;
	}
}

.m-furniture-search {
	.mb(30px);

	.u-type {
		.w(75px);

		.el-input__inner {
			border-radius: 12px;
			background: #cc819c;
			border: none;
		}

		.el-input__inner::placeholder {
			color: #fff;
		}

		.el-select__caret {
			color: #fff;
		}
	}

	.u-search {
		.w(380px);
		margin: 0 10px;

		.el-input__inner {
			border-radius: 12px;

			&:focus {
				border: 1px solid #cc819c;
			}
		}
	}

	.u-button {
		.w(75px);
		border-radius: 12px;
		background: #cc819c;
		color: #fff;
		border: none;

		&:hover {
			background: #df789d;
		}
	}
}

.m-furniture-item {
	.w(380px);
	.h(230px);
	border-radius: 15px;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px #ccc;
	cursor: pointer;

	&:hover {
		.m-furniture-image {
			transform: scale(1.05);
		}
	}

	.m-furniture-image {
		.w(200px);
		.h(200px);
		.pr;
		border-radius: 15px;
		background: #2b3d3d;
		transition: 0.2s ease;
		.u-use {
			.pa;
			color: rgb(252, 230, 250);
			font-weight: bold;
			letter-spacing: 1px;
			right: 10px;
			top: 10px;
		}
		.u-price {
			.w(100px);
			.h(30px);
			.pa;
			border-radius: 15px 0 0 15px;
			background: #cecece;
			right: 0;
			bottom: 20px;
			color: #333;
			font-weight: bold;
			letter-spacing: 1px;
		}
	}

	.m-furniture-detail {
		.ml(15px);
		.h(200px);
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;

		.u-name,
		.u-type,
		.u-attribute {
			font-weight: bold;
			color: #333;
			font-size: 20px;
			letter-spacing: 1px;
		}

		.u-type,
		.u-attribute {
			font-size: 15px;
		}

		.u-attribute {
			color: #fff;
			padding: 3px 8px;
			border-radius: 13px;
		}

		.u-blue {
			background: #81b0cc;
		}

		.u-pink {
			background: #cc819c;
		}

		.u-yellow {
			background: #cca981;
		}

		.u-green {
			background: #81ccb2;
		}

		.u-purple {
			background: #b381cc;
		}
	}
}
.m-furniture-container {
	.r(5px);
	background-color: #f5f7fa;
	border: 1px solid #dcdfe6;
	.active {
		color: #cc819c;
	}
}

.m-furniture-attribute,
.m-furniture-category {
	padding: 20px;
}
.m-furniture-attribute {
	.w(120px);
	.u-title {
		.fz(16px);
		cursor: default;
		&::before,
		&::after {
			padding: 0 5px;
		}
		&::before {
			content: "✿";
		}
		&::after {
			content: "✿";
		}
	}
	.u-list {
		.pl(20px);
		.fz(14px);
		span {
			.db;
			.pointer;
			.mt(20px);
			&::before {
				content: "◇";
			}
			&:hover {
				color: #cc819c;
			}
		}
	}
}
.m-furniture-box {
	flex: 1;
	border-left: 1px solid #dcdfe6;
}

.m-furniture-category {
	.w(100%);
	box-sizing: border-box;
	.u-tabs {
		.fz(14px);
		.mb(20px);
        flex-wrap: wrap;
		.u-item {
			.mr(10px);
			.flex;
            .pointer;
			flex-direction: column;
			.u-img {
				.pointer;
				.db;
				.pt(52px);
				.w(52px);
				.x;

				background-repeat: no-repeat;
			}

			&:hover {
				color: #cc819c;
			}
			.u-icon(@i:0) when (@i <= 18) {
				.u-iconj(@j:0) when (@j <= 8) {
					.u-icon-@{i}-@{j} {
						background-position: -52px * (@i) -52px * (@j);
					}
					.u-icon-@{i}-@{j}-important {
						background-position: -52px * (@i) -52px * (@j) !important;
					}
					.u-iconj(@j + 1);
				}
				@j: 0;
				.u-iconj(0);
				.u-icon(@i + 1);
			}
			.u-icon(0);
		}
	}

	.u-box {
		align-items: center;
		.u-input {
			.mr(10px);
		}
	}
	.u-select {
		.w(140px);
	}
	.u-margin {
		.mr(20px);
	}
	.u-input {
		.w(280px);
		cursor: default;
		.el-input--suffix {
			.w(100px);
		}
	}

	.el-input-group__prepend {
		background-color: #fff;
	}
}
.el-switch__label span {
	.color(#3d454d);
}
.m-furniture-list {
	padding: 20px;
	flex-wrap: wrap;
	background-color: #fff;
	border-top: 1px solid #eee;
	.m-furniture-item {
		.mr(20px);
		.mb(20px);
	}
}
