.m-furniture-item {
	.size(380px,200px);
	.r(8px);
	.pointer;
	.color(#3d454d);
	border: 1px solid #ddd;
	box-shadow: 0 0 5px #ccc;

	.m-furniture-image {
		.size(175px);
		.pr;
		.ml(10px);
        .r(5px);
		background: #2b3d3d;
		transition: 0.2s ease;
		.u-use,
		.u-dye {
			.pa;
			.rb(6px,10px);
			.r(2px);
			.size(26px,26px);
			.z(1);
			background: url("@{game_icons}homeland/interact.png") rgba(255, 255, 255, 0.5) center center no-repeat;
			box-shadow: 0 0 3px #999;
		}
		.u-use + .u-dye {
			.rb(6px,46px);
		}
		.u-dye {
			.rb(6px,10px);
			background: url("@{game_icons}homeland/dye.png") rgba(255, 255, 255, 0.5) center center no-repeat;
		}

		.u-img {
			.full;
			.r(5px);
		}
	}

	.m-furniture-detail {
		.ml(15px);
		.w(160px);
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;

		.u-name {
			.w(100%);
			.bold;
			.clip;
			.nobreak;
			.mb(10px);
			box-sizing: border-box;
			font-size: 16px;
			letter-spacing: 1px;
			font-family: "KaiTi", "Microsoft YaHei";
		}

		.u-nature {
			font-size: 12px;
			.lh(22px);
			.mb(4px);
			display: flex;
			align-items: center;
		}

		.u-attribute {
			.r(3px);
			.mr(5px);
			color: #fff;
			padding: 0 5px;
		}

		.u-blue {
			background: #81b0cc;
		}

		.u-pink {
			background: #cc819c;
		}

		.u-yellow {
			background: #cca981;
		}

		.u-green {
			background: #81ccb2;
		}

		.u-purple {
			background: #b381cc;
		}
	}

	&:hover {
		.m-furniture-image {
			transform: scale(1.05);
		}
	}
}
