@blue: #81b0cc;
@pink: #cc819c;
@yellow: #cca981;
@green: #81ccb2;
@purple: #b381cc;

.flex {
	display: flex;
}

.v-homeland-furniture {
	.pr;
}

.u-navigation {
	.pr;
	.mb(20px);
	.u-links {
		.pa;
		.rt(0);

		.u-link {
			.fz(14px);

			i {
				.mr(2px);
				.y;
			}

			.underline(@color-link);
		}

		em {
			margin: 0 5px;
		}
	}
}

.u-title {
	.fz(20px,32px);
	.bold;
	.color(#666);
	cursor: default;
	background-color: #f5f7fa;
	border-bottom: 1px solid #eee;
	padding: 5px 20px;
	font-family: "KaiTi", "Microsoft YaHei";
	.u-label {
		.fz(14px,32px);
		.color(#8a6d3b);

		.ml(20px);
	}
	.u-name {
		&::before {
			content: "✥ ";
		}
		&::after {
			content: " ✥";
		}
	}
}

.m-infoBox {
	.mb(20px);
	.u-infoImg {
		.pr;
		.size(150px);
		.mr(20px);
		.r(3px);
		.flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		box-sizing: border-box;
		// border: 3px inset #f5f7fa;
		background: #2b3d3d;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.u-info-card {
		.pr;
		.size(100%,150px);
		background-color: #f5f7fa;
		padding: 10px 20px;
		.u-title {
			.bold; 
            padding: 10px 0;
			font-family: "KaiTi", "Microsoft YaHei";
		}
		.u-nature,
		.u-other {
			.fz(14px);
			.mt(10px);
		}
		.u-relation {
			.flex;
			flex-direction: column;
			.u-line {
				.lh(28px);
				.pointer;
				.color(#666,#0366d6);
				i {
					.mr(10px);
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.m-buttons {
			.pa;
			.rt(10px,10px);
			.u-plansBox {
				.mr(10px);
			}
		}
		.mr20 {
			margin-right: 20px;
		}
		.u-label {
			.mr(5px);
			color: #8a6d3b;
		}
		.u-blue {
			color: @blue;
		}
		.u-pink {
			color: @pink;
		}
		.u-yellow {
			color: @yellow;
		}
		.u-green {
			color: @green;
		}
		.u-purple {
			color: @purple;
		}
	}
}
.u-info-text,
.u-info-card {
	.r(5px);
	box-sizing: border-box;
	border: 1px solid #eee;
}
.u-info-text {
	background-color: #f5f7fa;
	width: 100%;
	.mb(20px);
	.fz(14px,24px);
	.color(#f58638);
	.u-txt {
		padding: 10px 20px;
	}
}

.m-luYuan {
	.r(5px);
	border: 1px solid #eee;

	.u-box {
		padding: 10px 20px 10px 20px;
		.u-score {
			.flex;
			.fz(14px,2);
			.bold;
			.mb(10px);
			color: #3d454d;
			align-items: center;
		}
		.m-furniture-item {
			.mr(20px);
			.mb(20px);
		}
	}
}

.m-fetters-list {
	.flex;
	flex-wrap: wrap;

	.m-popover {
		.mr(20px);
		.el-popover__reference {
			.size(52px);
			.pointer;
		}
		.u-img {
			.size(52px);
			.r(3px);
			.pointer;
			background-color: #2b3d3d;
			box-sizing: border-box;
			border: 3px inset #ddd;
			&.quality_2 {
				border: 3px inset #00d24b;
			}
			&.quality_3 {
				border: 3px inset #007eff;
			}
			&.quality_4 {
				border: 3px inset #ff2dff;
			}
			&.quality_5 {
				border: 3px inset #ffa500;
			}
		}
	}
}
.el-popover {
	.u-info {
		.flex;
		flex-direction: column;
        .u-name{
            .fz(18px);
            .bold;
            .mb(10px);
        }
	}
}


.m-furniture-wiki{
	.mt(20px);
}
