.m-homeland-title {
	.x;
}

.m-homeland-games-pop {
	white-space: pre-line;
}
.m-homeland-games {
	.flex;
	justify-content: center;
	padding: 20px 0 40px 0;
	.u-box {
		.flex;
		.pointer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 30px;
	}
}
.v-homeland-tutorial {
	.u-header {
		.fz(18px);
		.lh(40px);
		.color(#676767);
		font-family: "KaiTi", "Microsoft YaHei";
		background-color: #f5f7fa;
		margin: 0;
		padding: 0 20px;
	}
}
.m-homeland-posts,
.m-homeland-levels {
	.mb(30px);
	.r(5px);
	.fz(14px);
	.clip;
	background: #fff;
}

.m-homeland-levels {
	.el-table {
		.r(5px);
	}
	.el-table td,
	.el-table th {
		padding: 6px 0;
	}
}

.m-homeland-posts {
    border: 1px solid #eee;
	.u-box {
		.flex;
		flex-wrap: wrap;
        padding: 0 20px;
		.u-item {
			.lh(40px);
			.mr(20px);
			.mb(20px);
            .pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
