.m-manufacture-cart {
	padding: 0 0 20px 20px;
	box-sizing: border-box;
	border-left: 1px solid @border-hr;
	.m-title {
		.bold;
		.fz(20px,2.5);
		border-bottom: 3px double #eee;
		i {
			.mr(5px);
		}
	}
	.m-item {
		padding: 10px 0;
		border-bottom: 1px solid #dcdfe6;
		&:last-child {
            background-color: #f00;
			border-bottom: 0;
		}
		.u-header {
			padding: 10px 2px 5px 2px;
            .u-header-inner{
                .flex;
            }
            .u-img {
                .mr(10px);
                .size(24px);
            }
            .u-title {
                .fz(14px,24px);
                .bold;
            }
		}
        .u-info {
            .el-divider{
                margin-top:10px;
                margin-bottom:10px;
            }
            .el-divider__text{
                color:#999;
                .fz(12px);
            }
            .u-children {
                .ml(1em);
                .pt(10px);
            }
            .u-child {
                .flex;
                align-items: center;
                justify-content: space-between;
                .mb(5px);
                &:hover{
                    background-color:@bg-gray;
                }
                .u-img {
                    .flex;
                    align-items: center;
                    .w(60px);
                    img {
                        .size(24px);
                    }
                    span {
                        .fz(12px);
                        .ml(5px);
                        opacity: 0.8;
                    }
                }
                .c-game-price {
                    .fz(12px);
                }
            }
            .u-item-num {
                .flex;
                .fz(13px);
                .pt(10px);
                justify-content: flex-end;
                align-items: center;
            }
        }
	}

    .m-null {
		padding:200px 0;
		.fz(15px);
		.x;
        color:#999;
	}
	.m-all {
        display: flex;
		padding: 10px 0;
        justify-content: space-between;

        .u-label{
            .bold;
        }
        .u-value{
            .fz(13px,2);
            b,.u-price-num span{color:#c00;.bold;}
        }
		.u-num {
			.flex;
			justify-content: flex-end;
		}
		// .u-price {
		// 	flex-direction: column;
		// 	align-items: flex-end;
		// }
	}
}
