.v-pet-panel {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.v-pet-skill{
    height:70px;
    width:100px;
    justify-content: flex-start;
    img{
        width:50px;
        height:50px;
        background: #000;
        margin-right: 20px;
    }
}

.v-pet-info{
    box-sizing: border-box;
    width:calc(100% - 250px);
    height:380px;
    background: #f6f6f6;
    border-radius: 15px;
    padding:20px 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size:18px;
    letter-spacing: 2px;
}

.v-pet-orange{
    color:#ec9d13;
}