.v-pet-single {

    .m-pet-panel {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        box-sizing: border-box;

        .m-pet-wiki {
            width: 100%;
            margin-top: 10px;
        }

        .m-pet-info {
            box-sizing: border-box;
            width: calc(100% - 300px);
            height: 476px;
            background: #f6f6f6;
            border-radius: 15px;
            padding: 20px 30px;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            font-size: 18px;
            letter-spacing: 2px;
            margin-bottom:30px;
        }
    }

    .u-pet-name {
        display: none;
    }



    .u-source-text {
        color: #ec9d13;
    }

    .u-icon {
        margin-right: 10px;
        cursor: pointer;
    }

    .m-toolbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .u-credit {
        margin-right: 10px;
    }
}

.u-pet-skill-pop {
    padding: 0;
    border-radius: 3px;
    border: 1px solid #132221;

    .u-desc {
        background: #132221;
        padding: 10px;
        color: #ff0;
    }
}

@media screen and (max-width: @phone) {
    .v-pet-single{
        .m-pet-panel {
            justify-content: center;
            .u-pet-card {
                display: none;
            }
    
            .m-pet-info {
                width: 100%;
                margin-bottom:15px;
            }
        }
    
        .u-pet-name {
            display: block !important;
        }
    }
}